<table class="table table-bordered">
    <thead>
        <tr class="table-primary">
            <th>Customer ID</th>
            <th>Name</th>
            <th>Phone</th>
            <th>Password</th>
            <th>License No</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let c of customers">
            <td>{{ c.custId }}</td>
            <td>{{ c.name }}</td>
            <td>{{ c.phone }}</td>
            <td>{{ c.password }}</td>
            <td>{{ c.licenseNo }}</td>
        </tr>
    </tbody>
</table>
