<table class="table table-bordered">
    <thead>
        <tr class="table-primary">
            <th>Registration No</th>
            <th>Model</th>
            <th>Type</th>
            <th>Rate/Day</th>
            <th>Available</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let v of vehicles">
            <td>{{ v.regNo }}</td>
            <td>{{ v.model }}</td>
            <td>{{ v.type }}</td>
            <td>{{ v.rate | currency }}</td>
            <td>{{ (v.available)?"Yes":"No" }}</td>
            <td><button [disabled]="!v.available" (click)="remove(v.regNo)" class="btn btn-danger">Delete</button></td>
        </tr>
    </tbody>
</table>
