<table class="table table-bordered">
    <tr><th colspan="2">Dear {{ c.name }}, your selected vehicle details</th></tr>
    <tr><th>Registration No</th><td>{{ v.regNo }}</td></tr>
    <tr><th>Vehicle Model</th><td>{{ v.model }}</td></tr>
    <tr><th>Vehicle Type</th><td>{{ v.type }}</td></tr>
    <tr><th>Rate/Day</th><td>{{ v.rate | currency }}</td></tr>
    <tr><th>Select Date</th>
        <td><input type="date" name="hd" [(ngModel)]="b.hireDate"></td></tr>
    <tr><th>Choose Days</th>
        <td><input type="number" (change)="calAmt()" name="days" min="1" max="7" [(ngModel)]="b.days"></td></tr>
    <tr><th>Invoice Amount</th><td>{{ b.total | currency }}</td></tr>
</table>
<button (click)="save()" class="btn btn-primary">Confirm Booking</button>