<label>Select Source City: </label>
<label>Source City</label>
<select name="source" [(ngModel)]="source">
    <option *ngFor="let c of cities" [value]="c">{{ c }}</option>
</select>
<label>Destination City</label>
<select name="dest" [(ngModel)]="destination">
    <option *ngFor="let c of cities" [value]="c">{{ c }}</option>
</select>
<button (click)="search()">Search By Route</button>
<hr>
<table>
    <thead>
        <tr><th>Code</th><th>Carrier</th><th>Source</th><th>Destination</th></tr>
    </thead>
    <tbody>
        <tr *ngFor="let f of flights">
            <td>{{ f.code }}</td>
            <td>{{ f.carrier }}</td>
            <td>{{ f.source }}</td>
            <td>{{ f.destination }}</td>
        </tr>
    </tbody>
</table>
